/* Custom Properties */

:root {
  --first-color: #D90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192D;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #FFFFFF;
  --gray-light-color: #F3F3F3;
  --gray-color: #CCCCCC;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #509EE3;
  --title-color: #333333;
  --text-color: #222222;
  --font: 'Raleway', sans-serif;
  --header-height: 4rem;
  --max-width: 1200px;
}

/* Reseteo */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

button,
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button:hover,
a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  line-height: 1.6;
}

/* Utilidades */
.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: .5rem;
  padding: .5rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
  border: 0;
}

.section {
  padding: 2rem 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Site styles */
.btn-comprar{
  font-weight: 200;
  text-transform: uppercase;
}

.btn-limpiar{
  background-color: transparent;
  color: var(--title-color);
  text-transform: uppercase;
  border: thin solid var(--gray-dark-color);
  border-radius: 0;
}

.btn-limpiar:hover{
  background-color: var(--second-color);
  color: var(--white-color);
  opacity: 1;
}


.carrito{
  color: var(--text-color);
}

.carrito-container{
  position: absolute;
  top: var(--header-height);
  right: 0;
  background-color: var(--white-color);
  width: 50%;
  padding: 1rem;
}


.carrito-icon{
  display: block;
  padding: .8rem; 
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 50%;
}

.carrito-icon:hover {
  background-color: var(--third-color);
}

.navegacion{
  display: flex;
  align-items: center;
  height: 100%;
}

.navegacion:hover > .carrito-container{
  display: block; 
}


.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second-color);
  color: var(--white-color);
  height: var(--header-height);
}

.header h1{
  text-transform: uppercase;
  font-size: 3.5vw;
}

.productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.producto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--gray-light-color);
  padding: 1rem;
  max-width: 100%;
  flex: 0 0 18rem;
}


.producto > .btn-producto{
  width: 80%;
  margin: 0 auto;
  background-color: var(--third-color);
}

.producto > .nombre{
  color: var(--title-color);
}

.producto .precio{
  font-size: 1.4rem;
  color: var(--second-color);
}

.producto .precio > sup{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--link-color);
}

.producto > .precio-unidades-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.producto .unidades{
  font-size: 1.5rem;
}

.producto .unidades > sub{
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black-color);
}


@media screen and (min-width: 768px) {
  .carrito-container {
    width: 25%;
  }

  .producto > .precio-unidades-container{
    flex-direction: row;
  }
}



